/* Import Raleway Thin font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

#nav-bar {
  height: 80px; /* Adjust the height of the navbar as needed */
}

/* Center the navbar content vertically */
.container {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Center the navbar links vertically */
.navbar-nav {
  display: flex;
  align-items: center;
  margin: 0; /* Remove the default margin for the list */
  padding: 0; /* Remove the default padding for the list */
  list-style: none; /* Remove the default list-style */
}

/* Add some spacing between the navbar links */
.nav-item {
  margin-right: 20px;
}

/* Styles for the logo image (optional) */
.navbar-brand img {
  vertical-align: middle;
}

/* Styles for the toggler button (optional) */
.navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0;
}

.navbar-toggler-icon {
  background-color: #e9e0e5;
  width: 30px;
  height: 3px;
  display: block;
}

/* Adjust the position of the toggler icon (optional) */
.navbar-toggler-icon:before,
.navbar-toggler-icon:after {
  content: '';
  background-color: #e9e0e5;
  width: 30px;
  height: 3px;
  position: absolute;
}

.navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler-icon:after {
  bottom: -8px;
}

.navbar-custom-links {
  font-size: 1.2rem; /* Adjust the font size as needed */

}

.nav-item.spaced-item {
  margin-right: 15px; /* Adjust the spacing between links as needed */
}

.nav-link {
  color: #efa3b0; /* This is a lighter shade of #e3405a, adjusted to be approximately 60% lighter */
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
}

.modal-content {
  background: #f8f9fa;
  border-radius: 0.3rem;
}

.modal-header {
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}

.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

/* Common styles for the login button */

.login-button {
  background-color: #f47687; /* This is a lighter shade of #e3405a */
  color: white; /* or any color that contrasts well with your lighter shade */
  /* Other styling properties */
}

/* Define a :hover state for the same class */
.login-button:hover {
  background-color: #e3405a; /* Original color appears on hover */
}


/* Styles for the cylindrical shape */
.login-button::before,
.login-button::after {
  content: "";
  display: block;
  width: 60%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #e9e0e5;
  top: 0;
}

.login-button::before {
  left: -50%;
}

.login-button::after {
  right: -50%;
}

/* Styles for the flattened top and bottom */
.login-button {
  position: relative;
  overflow: hidden;
}

.login-button::before,
.login-button::after {
  top: 0;
}

.login-button::before {
  top: -50%;
}

.login-button::after {
  bottom: -50%;
}

.login-button {
  /* Existing styles */
  transition: background-color 0.3s ease; /* Add transition */
}

.login-button:hover {
  cursor: pointer;
  background-color: #e9e0e5;
}


.two-factor-input {
  width: 40px;
  margin: 0 3px;
  text-align: center;
}

/* Custom link styling */
.custom-link, .custom-link:active, .custom-link:focus, .custom-link.routerLinkActive {
  color: #efa3b0; /* This is a lighter shade of #e3405a, adjusted to be approximately 60% lighter */
  text-decoration: none; /* Removes underline from links */
  transition-duration: 0.4s; /* Smooth transition for hover effect */
}

/* Hover effect for custom links */
.custom-link:hover {
  color: #e3405a; /* Original color appears on hover */
}


/* Optional: Focus state for accessibility */
/* .custom-link:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(227, 64, 90, 0.5); 
} */
